<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Custom fonts for this template-->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  {% block js %}{% endblock %}
  <!-- Custom styles for this template-->
  <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="/static/js/axios.min.js"></script>

</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="background-color: white">
        <img src="/static/images/free5gmano_icon.png" style="height: 70px;width: 70px">
        <div class="sidebar-brand-text mx-3" style="color: black">Free 5G mano</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item {{ dashboard_active }}">
        <a class="nav-link" href="/dashboard">
          <span>Dashboard</span></a>
      </li>
      <li class="nav-item {{ plugin_active }}">
        <a class="nav-link" href="/plugin">
          <span>Service Mapping Plugin</span></a>
      </li>
      <li class="nav-item">
        <a class="{{ generic_template_link_status }}" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="{{ generic_template_expanded }}" aria-controls="collapseOne">
          <span>Generic Template</span>
        </a>
        <div id="collapseOne" class="collapse {{ generic_template_show }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item {{ vnf_template_active }}" href="/VNF_Template">
          <span>VNF Template</span></a>
        <a class="collapse-item {{ nsd_template_active }}" href="/NSD_Template">
          <span>NSD Template</span></a>
        <a class="collapse-item {{ nrm_template_active }}" href="/NRM_Template">
          <span>NRM Template</span></a>
          </div>
        </div>
      </li>
      <li class="nav-item {{ nss_template_active }}">
        <a class="nav-link" href="/nss_template">
          <span>NSS template</span></a>
      </li>
<!--       <li class="nav-item {{ NSS_Instance_active }}">
        <a class="nav-link" href="/NSS_Instance">
          <span>NSS Instance</span></a>
      </li> -->
<!--       <li class="nav-item {{ nssi_topology_active }}">
        <a class="nav-link" href="/nssi_topology?id=NSSI">
          <span>NSSI Topology</span></a>
      </li> -->
      <li class="nav-item">
        <a class="{{ nssi_view_link_status }}" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="{{ nssi_view_expanded }}" aria-controls="collapseTwo">
          <span>NSSI View</span>
        </a>
        <div id="collapseTwo" class="collapse {{ nssi_view_show }}" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item {{ graph_view_active }}" href="/nssi_topology?id=NSSI">
          <span>Graph View</span></a>
        <a class="collapse-item {{ list_view_active }}" href="/NSS_Instance">
          <span>List View</span></a>
          </div>
        </div>
      </li>
<!--       <li class="nav-item">
        <a class="nav-link" href="/test_topology" target="_blank">
          <span>test topology</span></a>
      </li>
 -->
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow bg-gradient-primary"></nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        {% block content %}{% endblock %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <!--<span>Copyright &copy; Your Website 2019</span>-->
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  {% block foot_js %}{% endblock %}
</body>

</html>
