{% extends 'bar.html' %}
{% block title %}NRM Template{% endblock%}
{% block js %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tree.css">
<script src="/static/js/nm_js/nrm_template.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Network Resource Model Template</h1>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#create_nrm_template"> Create NRM Template</button>
          </div>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">NRM Template List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Template Name</th>
                      <th>Description</th>
                      <th>Type</th>
                      <th>NFVO</th>
                      <th>NRM Status</th>
                      <th>Update Template</th>
                      <th>Template Download</th>
                      <th>Delete Template</th>
                    </tr>
                  </thead>
                  <tbody id="nrm_table"></tbody>
                </table>
              </div>
            </div>
          </div>

  <!-- create_nrm_template-->
  <div class="modal fade" id="create_nrm_template" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new NRM Template</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nfvoType">Template Name :</label>
            <input type="text" class="form-control form-control-user" id="template_name" placeholder="Template Name" required>
          </div>
          <div class="form-group">
            <label for="nfvoType">NRM Description :</label>
            <input type="text" class="form-control form-control-user" id="nrm_description" placeholder="NRM Description">
          </div>
          <label for="nfvoType">NFVO Name :</label>
          <select name="nfvoType" id="nfvoType" class="nav-item dropdown" required></select>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#" onclick="create_template('{{ NM_URL }}')">Create</a>
        </div>
      </div>
    </div>
  </div>

  <!-- update_template_Modal-->
  <div class="modal fade" id="update_template_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>

  <!-- nrm_info_Modal-->
  <div id="nrm_info_Modal">
    <div class="modal fade" id="nrm_info_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
  </div>

</div>

{% endblock %}

{% block foot_js %}
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- <script src="/static/js/nm_js/tree.js"></script> -->
<script type="text/javascript">
nrm_template_list('{{ NM_URL }}');
get_plugin_list('{{ NM_URL }}');
</script>
{% endblock %}
