{% extends 'bar.html' %}
{% block title %}Network Slice Subnet Instance{% endblock%}
{% block js %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/tree.css">
<script src="/static/js/nm_js/nss_instance.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Network Slice Subnet Instance</h1>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">NSSI List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Network Slice Subnet Instance(NSSI) Id</th>
                      <th>Network Service(NS)</th>
                      <th>Administrative State</th>
                      <th>Operational State</th>
                      <th>Graph</th>
                      <th>Deallocate</th>
                      <th>Delete NSSI</th>
                    </tr>
                  </thead>
                  <tbody id="nssitable">
<!--                     <tr>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                      <td align="center"><a href="/GetNSSItopology?id=5e9247c1-587e-4966-8cce-80ce299d9664"><img src="images/topology_icon.png" alt="" style="width: 32px; height: 32px"></a></td>
                    </tr>
 -->                  </tbody>
                </table>
              </div>
            </div>
          </div>

</div>
{% endblock %}

{% block foot_js %}
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
  nss_instance_list('{{NM_URL}}');
</script>
{% endblock %}