{% extends 'bar.html' %}
{% block title %}Service Mapping Plugin{% endblock%}
{% block js %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="/static/js/nm_js/service_mapping_plugin.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Service Mapping Plugin</h1>
            <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#create_plugin_Modal"> Create Plugin</button>
          </div>
<!-- <h1 class="h3 mb-4 text-gray-800">Service Mapping Plugin</h1>
<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Service Mapping Plugin List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Plugin Name</th>
                      <th>Allocate NSSI File</th>
                      <th>Deallocate NSSI File</th>
                      <th>Update Plugin</th>
                      <th>Plugin File</th>
                      <th>Delete Plugin</th>
                    </tr>
                  </thead>
                  <tbody id="plugintable">
<!--                     <tr>
                      <td>test</td>
                      <td>test</td>
                      <td>test</td>
                      <td align="center"><a href="#" onclick="delete_plugin('name')"><img src="images/delete.png" alt=""></a></td>
                    </tr>
 -->                  </tbody>
                </table>
              </div>
            </div>
          </div>

  <!-- create_plugin_Modal-->
  <div class="modal fade" id="create_plugin_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create new Service Mapping Plugin</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
        	<label for="create_pluginName">Plugin Name :</label><input type="text" name="create_pluginName" id="create_pluginName" required><br><br>
        	<label for="pluginFile">Plugin File :</label><br><input class="btn btn-secondary btn-icon-split" name="pluginFile" id="pluginFile" type="file" accept=".zip" onchange="upload(this)" required>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#" onclick="create_plugin('{{ NM_URL }}')">Create</a>
        </div>
      </div>
    </div>
  </div>

  <!-- update_plugin_Modal-->
  <div class="modal fade" id="update_plugin_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  </div>

</div>

{% endblock %}

{% block foot_js %}
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript">
  service_mapping_plugin_list('{{ NM_URL }}');
</script>
{% endblock %}
