<!DOCTYPE html>
<html>
    <head>
        <title>who am i</title>
        <style>
            body {
               background-color: black;
            }
            h1,h3 {
              color : white;
            }
        </style>
    </head>
    <body>
        <h1>I am David!</h1>
        <h3>{{ content }}</h3>
    </body>
</html>