{% extends 'bar.html' %}
{% block title %}Network Slice Subnet Instance{% endblock%}
{% block js %}
<link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/static/css/test.css"> -->
<link rel="stylesheet" href="/static/css/tree.css">
<!-- <script src="/static/js/nm_js/nss_instance.js"></script> -->
<script src="/static/js/nm_js/data.js"></script>
<script src="/static/js/nm_js/test.js"></script>

{% endblock %}

{% block content %}
<div class="container-fluid">
<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800">Network Slice Subnet Instance</h1>

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">VNF Template List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Network Slice Subnet Instance(NSSI) Id</th>
                      <th>Network Service(NS)</th>
                      <th>Administrative State</th>
                      <th>Operational State</th>
                      <th>Topology</th>
                      <th>Deallocate</th>
                    </tr>
                  </thead>
                  <tbody id="nssitable"></tbody>
                </table>
              </div>
            </div>
          </div>

</div>

<script type="text/javascript">
  vnf_template_list();
</script>
{% endblock %}

{% block foot_js %}
<!-- Page level plugins -->
<script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/20.2.3/css/dx.light.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/20.2.3/js/dx.all.js"></script>
 -->{% endblock %}